@media (max-width: 992px) {
	/* ================ NAVIGATION MENU ================ */
	.brand, .nav-links li {
		margin-left: 8px;
	}

	.nav-links li {
		font-size: 100%;
	}

	/* ================ FOOTER ================ */
	.footer .col-* {
		float: none;
		width: 100%;
	}

	.footer-contact {
		float: left;
		width: 49.98%;
	}	

	.google-map {
		display: none;
	}
}