@media (min-width: 768px) {
	body {
		background-position: center -6%;
		background-size: auto 600px;
	}

	/* ================ GRID LAYOUT ================ */
	.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, 
	.col-7, .col-8, .col-9, .col-10, .col-11 {
		float: none;
		width: 100%;
	}

	.container {
		width: 100%;
	}

	/* ================ NAVIGATION MENU ================ */
	.container .nav {
		position: fixed;
		width: 100%;
		margin: 0;
	}

	.nav {
		padding: 0;
		padding-top: 30px;
		margin: 0 auto;
		width: 80%;
		box-shadow: 3px 3px 10px #333;
	}

	.brand {
		width: 90%;
		margin-bottom: 30px;
	}

	.nav-button {
		float: right;
		margin-right: 10px;
	}

	.nav-links {
		margin-top: 20px;
		clear: both;
		border-bottom: 1px solid #CCC;
		overflow: auto;
	}

	.nav-links li{
		float: none;
		padding: 20px 40px 20px 40px;
		margin: 0;
		border-top: 1px solid #CCC;

		-o-transition:.5s;
		-ms-transition:.5s;
		-moz-transition:.5s;
		-webkit-transition:.5s;
	}

	.nav-links li:hover {
		background-color: #DDD;
	}

	/* ================ MAIN ================ */
	.main {
		margin-bottom: 0px;
		margin-top: 300px;	
	}

	.main h2 {
		margin: 0;
		padding-left: 30px;
		background-color: #c32a1b;
	}

	.main h2 span {
		margin: 0; 
		background: none;
	}

	.main .row {
		margin-top: 0;
	}

	/* ================ FOOTER ================ */
	.footer {
		padding: 30px 40px 30px 40px;
	}

	.footer-header span {
		margin: 0;
		background: none;
	}

	.footer-header {
		background-color: #c32a1b;
		padding-bottom: 20px;
		padding-left: 30px;
	}

	.google-map, .footer-contact .col-* {
	padding: 30px;
	margin: 0;

	}

	.google-map {
		text-align: center;
	}

	.google-map img {
		height: auto;
		width: 300px;
	}
}