/* ================ COLORS ================ */
/*
	Red: c32a1b;
	Dark Grey: 333;
	Medium Grey: 666;
	Medium Light Grey: CCC;
	Ligh Grey: DDD;
	Green: 224420;
	Dark Green: 011500;
*/

body {
	font-family: 'Roboto', sans-serif;
	color: #333;
	font-size: 12pt;
	font-weight: 300;
}

h1 {
	font-size: 150%;
	font-weight: 300;
}

h2 {
	font-size: 125%;
	font-weight: 300;
}

h3 {
	font-size: 110%;
	font-weight: 300;
}

/* ================ LINKS ================ */

a {
	color: #333;
	text-decoration: none;

	-o-transition:.5s;
	-ms-transition:.5s;
	-moz-transition:.5s;
	-webkit-transition:.5s;
}

a:hover {
	color: #888;
}

/* ================ GRID LAYOUT ================ */

.row, .col-2, .col-3 {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.row {
	width: 100%;
	clear: both;
}

.col-3 {
	float: left;
    width: 33%;
    padding-right: 10px;
}

.col-2 {
	float: left;
    width: 50%;
    padding-right: 10px;
}

.container {
	width: 80%;
	margin: 0 auto;
}

/* ================ NAVIGATION MENU ================ */

.brand {
	float: left;
}

.nav-links li {
	float: right;
}

.nav-links li {
	margin: 20px;
}

.nav-button {
	background: url('../img/menu-bar.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 85% 80%;
	width: 60px;
	height: 60px;
	border: 0;
}

.brand h1 span {
	font-weight: 400;
}

.brand h1 {
	float: left;
}

.nav {
	background-color: #FFF;
}

/* ================ MAIN ================ */
.main {
	clear: both;
}

/* ================ FOOTER ================ */
.footer {
	clear: both;
	background-color: #224420;
	overflow: auto;
}

.copyright {
	background-color: #011500;
	padding-top: 40px;
	padding-bottom: 30px;
	text-align: center;
	color: #666;
	font-size: 80%;
}