@media (max-width: 768px) {
	/* ================ GRID LAYOUT ================ */
	.col-2, .col-3 {
		float: none;
	}

	.container {
		width: 100%;
	}

	/* ================ NAVIGATION MENU ================ */
	.nav {
		position: fixed;
		width: 100%;
		padding: 10px;
	}

	.brand {
		width: 100%;
		padding-bottom: 10px;
	}

	.nav-button {
		float: right;
		margin-right: 10px;
	}

	.nav-links li{
		float: none;
	}

	/* ================ MAIN ================ */
	.main {
		padding-top: 100px;	
	}
}